/* ブロック崩壊エフェクト用スタイル */
.blocks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    overflow: visible;
}

.falling-block {
    position: absolute;
    overflow: hidden;
    background: transparent;
}

.falling-block iframe {
    position: absolute;
    border: none;
    pointer-events: none;
}
